.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  font-size: 1.4em;
  line-height: 1.3;
  font-family: 'CalibreRegular';
  letter-spacing: 0.01em;
  width: 70%;
  color: var(--light-slate);
}

.highlight {
  color: var(--turquoise);
  font-family: 'CalibreSemibold';
}

.hidden-link {
  text-decoration: none;
  display: inline;
  cursor: pointer;
}

.hidden-link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
  .content-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .content {
    width: 100%;
    text-align: left;
  }

  .hidden-link:hover {
    text-decoration: none;
  }
}