.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  font-size: 1.2em;
  line-height: 1.7;
  font-family: 'MontserratLight';
  width: 70%;
  color: var(--light-slate);
}

.highlight {
  color: var(--turquoise);
  font-family: 'MontserratBold';
}

.hidden-link {
  text-decoration: none;
  display: inline;
  cursor: pointer;
}

.hidden-link:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .content-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .content {
    width: 100%;
    text-align: left;
  }
}