.achievements-container {
  flex-direction: column;
  padding: 10px;
  width: 90%;
}

.company-name {
  color: var(--lightest-slate);
}

.duration {
  color: var(--light-slate);
}

.achievement {
  margin-bottom: 10px;
  color: var(--light-slate);
  font-size: 1.4em;
  line-height: 1.3;
  font-family: 'CalibreRegular';
  letter-spacing: 0.01em;
}

.highlight {
  color: var(--turquoise);
  font-family: 'CalibreSemibold';
}

@media only screen and (max-width: 788px) {
  .achievements-container {
    width: 100%;
    margin-top: 10px;
  }

  .achievement {
    font-size: 1.1em;
  }
}
