.nav-tabs {
  width: 78%;
  padding: 0.5rem;
  position: sticky; 
  top: 0;
  z-index: 100;
  background-color: var(--navy);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.nav-icons ul, .nav-links ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center; 
}

.nav-tabs li {
  display: inline;
}

.nav-tabs a {
  color: var(--lightest-slate);
  text-decoration: none;
}

.nav-tabs a:hover {
  color: var(--turquoise);
}

.linkedin-link, 
.github-link {
  display: flex;
  align-items: center;
  color: var(--lightest-slate);
  text-decoration: none;
}

.icon {
  width: 24px; 
  height: 24px;
  transition: color 0.3s ease;
}

.linkedin-link:hover icon,
.github-link:hover icon {
  color: var(--turquoise);
}

@media only screen and (max-width: 1024px) {
  .nav-tabs {
    width: 90%;
  }

  .nav-tabs a:hover {
    color: var(--lightest-slate);
  }

  .linkedin-link:hover icon,
  .github-link:hover icon {
    color: var(--lightest-slate);
  }
}

@media only screen and (max-width: 788px) {
  .icon {
    width: 20px;
    height: 20px;
  }

  .nav-tabs {
    width: 100%;
  }

  .nav-icons {
    display: flex;
    width: 100%;
    z-index: 100;
    justify-content: flex-end;
    padding-right: 40px;
  }

  .nav-links {
    display: none;
  }
}