#projects-container {
  max-width: 250rem;
  display: flex;
  flex-wrap: wrap;
  gap: .2rem;
  padding-bottom: 10rem;
  justify-content: center;
}

.project {
  width: 14rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  padding: 2.3rem;
  margin: 1rem;
  background-color: #12284d;
  /* background: linear-gradient(#1b4481, #10215d); */
  color: white;
  /* box-shadow: 0 2px 5px rgba(197, 192, 192, 0.6); */
  border-radius: 50px;
  font-family: 'MontserratLight';
  position: relative;
}

.project h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
  color: white;
  font-family: 'MontserratBold';
}

.languages {
  margin-top: 2rem;
  max-width: 14rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.language {
  height: 2rem;
  padding: 0 1rem;
  white-space: nowrap;
  border-radius: 50px;
  border: 2px solid turquoise;
  font-family: 'MontserratLight';
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-website-link,
.project-github-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-right: 0.5rem;
}

.project-github-icon {
  width: 22px; 
  height: 22px;
  transition: color 0.3s ease;
}

.project-items {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
}

.project-website-link:hover .project-website-icon,
.project-github-link:hover .project-github-icon {
  color: turquoise;
}

.project-website-icon {
  width: 25px; 
  height: 25px;
  transition: color 0.3s ease;
}