#projects-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .2rem;
  padding-bottom: 5rem;
  justify-content: center;
}

.project {
  width: calc(100% / 2 - 1rem);
  max-width: 14rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  padding: 2.3rem;
  margin: 0.8rem;
  background-color: var(--light-navy);
  /* background: linear-gradient(#1b4481, #10215d); */
  /* box-shadow: 0 2px 5px rgba(197, 192, 192, 0.6); */
  border-radius: 50px;
  letter-spacing: 0.03em;
  line-height: 1.4rem;
  position: relative;
}

.project h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
  color: var(--lightest-slate);
  line-height: 2rem;
}

.languages {
  margin-top: 0.2rem;
  max-width: 14rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.language {
  height: 2rem;
  padding: 0 1rem;
  white-space: nowrap;
  border-radius: 50px;
  border: 2px solid var(--turquoise);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-website-link,
.project-github-link {
  display: flex;
  align-items: center;
  color: var(--lightest-slate);
  text-decoration: none;
  margin-right: 0.5rem;
}

.project-github-icon {
  width: 22px; 
  height: 22px;
  transition: color 0.3s ease;
}

.project-items {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  gap: 0.5rem;
}

.project-website-link:hover .project-website-icon,
.project-github-link:hover .project-github-icon {
  color: var(--turquoise);
}

.project-website-icon {
  width: 24px; 
  height: 24px;
  transition: color 0.3s ease;
}

@media only screen and (max-width: 1024px) {
  #projects-container {
    padding-bottom: 5rem;
  }

  .project {
    width: calc(100% - 1rem);
    margin: 0.5rem auto;
  }

  .language {
    font-size: 0.8rem;
  }

  .project-website-link:hover .project-website-icon,
  .project-github-link:hover .project-github-icon {
    color: var(--lightest-slate);
  }
}