.tab-menu {
  display: flex;
  flex-direction: column;
  padding: 0px;
  list-style-type: none;
  margin: 0;
  gap: 20px;
  padding-top: 30px;
  font-family: 'MontserratRegular';
}

.tab-menu button {
  position: relative;
  background: none;
  border: none;
  width: 350px;
  text-align: left; 
  border-radius: 0;
  color: var(--lightest-slate);
}

.tab-menu button:hover {
	background-color: var(--slate);
}

.tab-menu button.selected {
  border-right: 3px solid var(--turquoise);
}

@media (max-width: 480px) {
  .tab-menu {
    flex-direction: row;
    justify-content: space-between;
  }

  .tab-menu button {
    width: 100%;
    margin: 0;
  }

  .tab-menu button.selected {
    border-right: none;
    border-bottom: 3px solid var(--turquoise);
  }
}