.container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  padding: 10px;
  background-color: var(--navy);
}

.main-content {
  width: 70%;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
  color: var(--lightest-slate);
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  color: var(--lightest-slate);
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  .main-content {
    width: 80%;
  }
}

@media only screen and (max-width: 788px) {
  .container {
    padding: 0;
    overflow-x: hidden
  }

  .main-content {
    width: 100%;
    padding: 35px;
    margin: 0;
  }

  .section {
    padding: 20px 0;
    font-size: 14px;
    width: 100%;
  }
}
