.container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  padding: 10px;
  background-color: #0a192f;
}

.main-content {
  width: 60%;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
  color: #ccd6f6;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  color: #ccd6f6;
}

